---
title: Kontaktseite
---

<div id="content">
    <!-- page-banner -->
    <div class="section-content page-banner contact-page-banner">
        <div class="container">
            <h1>Kontakt</h1>
        </div>
    </div>
    <!-- contact section -->
    <div class="section-content contact-section">
        <div class="title-section">
            <div class="container triggerAnimation animated" data-animate="bounceIn">
                <h1>Anfahrt</h1>

                <p>Sie finden uns im Berliner Mitte Levetzowstraße 25 10555 Berlin</p>
            </div>
        </div>
        <div class="map triggerAnimation animated" data-animate="slideInLeft"></div>
        <div class="contact-info triggerAnimation animated" data-animate="flipInX">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a href="#"><i class="fa fa-map-marker"></i></a>

                        <h2>Adresse</h2>

                        <p>
                            <span>Levetzowstraße 25</span>
                            <span>10555 Berlin</span>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <a href="#"><i class="fa fa-phone"></i></a>

                        <h2>Telephone</h2>

                        <p>
                            <span>Tel: +49 30 391 67 25</span>
                            <span>Fax: +49 30 392 17 48</span>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <a href="#"><i class="fa fa-envelope-o"></i></a>

                        <h2>E-mail</h2>

                        <p>
                            <span>info@zahnarzt-awerkow.de</span>
                            <span>awerkow@web.de</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{!
        <div class="contact-area">
            <div class="title-section">
                <div class="container triggerAnimation animated" data-animate="bounceIn">
                    <h1>Send a message</h1>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
            </div>
            <form id="contact-form">
                <div class="container triggerAnimation animated" data-animate="rollIn">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                        posuere a, pede.</p>

                    <div class="row">
                        <div class="col-md-4">
                            <input name="name" id="name" type="text" placeholder="Name (required)">
                        </div>
                        <div class="col-md-4">
                            <input name="mail" id="mail" type="text" placeholder="Email (required)">
                        </div>
                        <div class="col-md-4">
                            <input name="website" id="website" type="text" placeholder="Website">
                        </div>
                    </div>
                    <textarea name="comment" id="comment" placeholder="Your Message (required)"></textarea>

                    <div class="submit-area">
                        <input type="submit" id="submit_contact" value="Submit">

                        <div id="msg" class="message"></div>
                    </div>
                </div>
            </form>
        </div>
         }}
    </div>
</div>
<!-- End content -->