---
title: Impressumseite
metadescription: <%= imprint.metadescription %>
metakeywords: <%= imprint.metakeywords %>
---

<!-- content-->
<div id="content">

    <!-- page-banner
        ================================================== -->
    <div class="section-content page-banner faqs-page-banner">
        <div class="container">
            <h1>Impressum</h1>
        </div>
    </div>

    <!-- faqs-section
        ================================================== -->
    <div class="section-content faqs-section transparent-back">
        <div class="title-section">
            <div class="container triggerAnimation animated" data-animate="bounceIn">
                <h1>Zahnarztpraxis Wadim Awerkow</h1>

                <p>Levetzowstraße 25 10555 Berlin</p>
            </div>
        </div>
        <div class="toggle-section">
            <div class="container">
                <div class="accordion-box triggerAnimation animated" data-animate="slideInUp">

                    <div class="accord-elem active">
                        <div class="accord-title">
                            <h2>Zahnarztpraxis Wadim Awerkow, Levetzowstraße 25 10555 Berlin, +49 30 391 67 25</h2>
                        </div>
                        <div class="accord-content">
                            <p>
                                <span>Geschäftsführung</span>
                                <br/>
                                Zahnarzt Wadim Awerkow<br/>
                                Levetzowstrasse 25<br/>
                                10555 Berlin<br/>
                                Tel: 030 / 3916725<br/>
                                Fax: 030 / 3921748<br/>
                                USt-Id. DE 34/213/51343<br/>
                                E-Mail: <a href="mailto:info@zahnarzt-awerkow.de">info@zahnarzt-awerkow.de</a>
                            </p>

                            <p>
                                Berufsständische Kammer: Zahnärztekammer Berlin, Stallstraße 1, 10585 Berlin,
                                www.zaek-berlin.de
                                <br/>
                                Die gesetzliche Berufsbezeichnung "Zahnarzt" wurde in Deutschland / Berlin verliehen.
                                <br/>
                                Zuständige Aufsichtsbehörde: Kassenzahnärztliche Vereinigung Berlin , Georg-Wilhelm-Str.
                                16 , 10711 Berlin, www.kzv-berlin.de
                                <br/>
                            </p>

                            <p>
                                <span>Es gelten folgende gesetzliche und berufsrechtliche Regelungen (nachzulesen www.kzv-berlin.de):</span>
                                <br/>
                                - Berufsordnung für Zahnärzte<br/>
                                - Zahnheilkundegesetz<br/>
                                - Heilberufe-Kammergesetz<br/>
                                - Gebührenordnung für Zahnärzte
                            </p>

                            <p>
                                Die grafisch und textlich dargestellten Behandlungen stellen nicht in jedem Fall die der
                                Praxis dar. Die auf den Internetseiten vermittelten Informationen betreffen weltweit
                                verfügbare Behandlungskonzepte und dienen der medizinischen Aufklärung von Patienten.
                            </p>

                            <p>
                                <span>Erklärung:</span>
                                <br/>
                                Rechtliche Hinweise:<br/>
                                Bei direkten oder indirekten Verweisen auf fremde Internetseiten (“Links”), die
                                ausserhalb des Verantwortungsbereiches des Betreibers liegen, wird für deren Inhalt
                                keinerlei Haftung übernommen, es sei denn der Betreiber macht sich diese ausdrücklich zu
                                eigen. Eventuelle Verpflichtungen des Betreibers, Links zu rechtswidrigen Inhalten, von
                                denen der Betreiber Kenntnis hat, zu löschen, bleiben unberührt.
                                Diese Erklärung gilt für alle vorhandenen Links. Gerichtsstand ist Berlin.
                                Verantwortlich für den Inhalt und Produktion dieser Webseiten: Wadim Awerkow.
                            </p>

                            <p>

                                <span>Google Analytics</span>
                                <br/>
                                Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc.
                                („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem
                                Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie
                                ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser
                                Website werden in der Regel an einen Server von Google in den USA übertragen und dort
                                gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Website, wird
                                Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union
                                oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum
                                zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von
                                Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website
                                wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um
                                Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der
                                Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem
                                Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser
                                übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie
                                können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer
                                Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall
                                gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen
                                können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf
                                Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die
                                Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden
                                Link (http://tools.google.com/dlpage/gaoptout?hl=de) verfügbare Browser-Plugin
                                herunterladen und installieren.
                                <br/>
                                <br/>
                                Sie können die Erfassung durch Google Analytics verhindern, indem Sie auf folgenden Link
                                klicken. Es wird ein Opt-Out-Cookie gesetzt, der die zukünftige Erfassung Ihrer Daten
                                beim Besuch dieser Website verhindert: Google Analytics deaktivieren
                                <br/>
                                <br/>
                                Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter
                                http://www.google.com/analytics/terms/de.html bzw. unter
                                http://www.google.com/intl/de/analytics/privacyoverview.html. Wir weisen Sie darauf hin,
                                dass auf dieser Website Google Analytics um den Code „gat._anonymizeIp();“ erweitert
                                wurde, um eine anonymisierte Erfassung von IP-Adressen (sog. IP-Masking) zu
                                gewährleisten.
                                <br/>
                                <br/>
                                quelle: www.datenschutzbeauftragter-info.de
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="title-section">
            <div class="container triggerAnimation animated" data-animate="bounceIn">
                <h1>Seit über 30 Jahren Erfahrung steht das starke Team um Zahnarztpraxis Wadim Awerkow</h1>

                <p>
                    Unsere Praxis verfügt über ein breites Leistungsspektrum, welches moderne und langjährige bewährte
                    zahnärztliche Behandlungstechniken erfolgreich miteinander verknüpft.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- End content -->