---
component: footer
---
<!-- footer
			================================================== -->
<footer>
    <div class="social-section">
        <ul class="social-icons triggerAnimation animated" data-animate="tada">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
            <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
    </div>
    <div class="up-footer">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="widget footer-widget text-widget">
                        <h1>About</h1>

                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

                        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                            quis enim. </p>
                        <img src="images/footer-logo.png" alt="">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="widget footer-widget tweets-widget">
                        <h1>Recent Tweets</h1>
                        <ul>
                            <li>
                                <i class="fa fa-twitter"></i>

                                <p>Photoshop to CSS3 magic - CSS Hat - <a href="#">http://t.co/ad2CggDN</a></p>
                                <span>15 June 2012</span>
                            </li>
                            <li>
                                <i class="fa fa-twitter"></i>

                                <p>CrossFit Advanced - another well done website, featured on CSSLuxury - <a href="#">http://t.co/ad2CggDN</a>
                                </p>
                                <span>15 June 2012</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="widget footer-widget flickr-widget">
                        <h1>Flickr Stream</h1>
                        <ul class="flickr">
                            <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                            <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                            <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                            <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                            <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                            <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                            <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                            <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                            <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="widget footer-widget subscribe-widget">
                        <h1>Subscribe</h1>

                        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                            quis enim. </p>

                        <form class="subscribe-form">
                            <input type="text" id="e-mail" name="e-mail" placeholder="Email Address"/>
                            <input type="submit" id="submit" value="submit"/>
                        </form>
                    </div>
                </div>

            </div>
            <div class="footer-line">
                <p>Copyright 2014. "marble" by UpiFix. All rights reserved.</p>
            </div>
        </div>
    </div>

</footer>
<!-- End footer -->
