---
component: footer
---
<!-- footer
			================================================== -->
<footer>
    <div class="social-section">
        <ul class="social-icons triggerAnimation animated" data-animate="tada">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
    </div>
    <div class="up-footer">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="widget footer-widget text-widget">
                        <h1>Zahnarztpraxis</h1>
                        <p>Hallo liebe Gäste, wir freuen uns Sie begrüßen zu dürfen und dass Sie auf unserer Internetseite vorbei schauen.</p>
                        <p>Hier können Sie mehr erfahren und hoffentlich alle Ihre Fragen in Bezug auf einzelne / bestimmte Behandlungen, sowie über unser Team, beantworten.</p>
                        <img alt="Logo Zahnarzt Awerkow" src="assets/images/za-logo-white.svg" width="118" height="31">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="widget footer-widget tweets-widget">
                        <h1>Externe Resourcen</h1>
                        <ul>
                            <li>
                                <i class="fa fa-external-link"></i>

                                <p>KZV Berlin <a href="http://www.kzv-berlin.de/">www.kzv-berlin.de</a></p>
                                <span>Die Kassenzahnärztliche Vereinigung Berlin</span>
                            </li>
                            <li>
                                <i class="fa fa-external-link"></i>

                                <p>
                                    ZM - online
                                    <a href="http://www.zm-online.de/">www.zm-online.de</a>
                                </p>
                                <span>Umfangreiches Online-Angebot des offiziellen Organs der Zahnärzteschaft mit Downloads, Rezensionen und Online Fortbildung</span>
                            </li>
                        </ul>
                    </div>
                </div>
            {{! ToDo: implement Flickr and Newssubscribe widget }}
            {{!
            <div class="col-md-3">
                <div class="widget footer-widget flickr-widget">
                    <h1>Flickr Stream</h1>
                    <ul class="flickr">
                        <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                        <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                        <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                        <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                        <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                        <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                        <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                        <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                        <li><a href="#"><img alt="" src="http://placehold.it/70x70"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget footer-widget subscribe-widget">
                    <h1>Subscribe</h1>

                    <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. </p>

                    <form class="subscribe-form">
                        <input type="text" id="e-mail" name="e-mail" placeholder="Email Address"/>
                        <input type="submit" id="submit" value="submit"/>
                    </form>
                </div>
            </div>
            }}
            </div>
            <div class="footer-line">
                <p>Zahnarzt Wadim Awerkow, Levetzowsraße 25 10555 Berlin. COPYRIGHT © 2015 <a href="mailto:dmitri.awerkow@gmail.com">Dmitri Awerkow</a></p>
            </div>
        </div>
    </div>

</footer>
<!-- End footer -->
