---
component: head tag
---
<title>{{site.title}} - {{title}}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="{{metadescription}}">
<meta name="keywords" content="{{metakeywords}}">
{{#if googleVerification}}
    <meta name="google-site-verification" content="gEdviGPhLcb-Itou1mowgEpmDg26XSs-lhfviEYCklc"/>
{{/if}}
