---
component: header
---
<header class="clearfix">
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img alt="" src="assets/images/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="drop"><a class="active" href="index.html">Home</a>
                        <ul class="drop-down">
                            <li><a href="index.html">Home - Default</a></li>
                            <li><a href="home2.html">Home 2</a></li>
                            <li><a href="home3.html">Home 3</a></li>
                            <li><a href="home4.html">Home 4</a></li>
                            <li><a href="home5.html">Home 5</a></li>
                        </ul>
                    </li>
                    <li class="drop"><a href="#">Features</a>
                        <ul class="drop-down">
                            <li><a href="about.html">About us</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="faqs.html">Faqs</a></li>
                            <li><a href="error.html">404 Error</a></li>
                            <li class="drop"><a href="#">Go Level 3</a>
                                <ul class="drop-down level3">
                                    <li><a href="#">Level 3</a></li>
                                    <li><a href="#">Level 3</a></li>
                                    <li><a href="#">Level 3</a></li>
                                    <li><a href="#">Level 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a>
                        <ul class="drop-down">
                            <li><a href="blog-fullwidth.html">Blog Fullwidth</a></li>
                            <li><a href="blog-masonry.html">Blog Masonry</a></li>
                            <li><a href="blog-with-sidebar.html">Blog Left Sidebar</a></li>
                            <li><a href="blog-rightsidebar.html">Blog Right Sidebar</a></li>
                            <li><a href="single-post.html">Single Post</a></li>
                        </ul>
                    </li>
                    <li><a href="portfolio.html">Portfolio</a>
                        <ul class="drop-down">
                            <li><a href="portfolio.html">3 Colums</a></li>
                            <li><a href="portfolio-4col.html">4 Colums</a></li>
                            <li><a href="portfolio-4col-vers2.html">4 Colums - vers2</a></li>
                            <li><a href="portfolio-5col.html">5 Colums</a></li>
                            <li><a href="single-project.html">Single Project</a></li>
                        </ul>
                    </li>
                    <li><a href="shortcodes.html">Shortcodes</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li class="drop"><a href="#" class="open-search"><i class="fa fa-search"></i></a>
                        <form class="form-search">
                            <input type="search" placeholder="Search:"/>
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->