<!DOCTYPE html>
<html lang="de" class="no-js">
<head>
{{> head }}
</head>
<body>
<div id="container">
    {{> header-section }}
    {{> body }}
    {{> footer }}
</div>
{{> footer-js }}
</body>
</html>
<link rel='stylesheet' type="text/css" href="assets/css/main.css" media="screen">